body {
  background-image: url("http://bsnscb.com/data/out/118/39743314-london-wallpapers.jpg");
}

#main-container {
  width: 720px;
  height: 720px;
  margin: auto;
} 

#map-container {
  display:flex;
  height: 100%;
  width: container;
  /* align-items: center; */
  justify-content: center;
  /* position: absolute; */
} 

#map {
  /* position: relative;  */
  width: 720px;
  height: 720px;
}

#welcome-container {
  display: block;
  height: 100%;
  width: fit-content;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  /* position: relative; */
} 

#welcome-username {
  display: flex;
  flex-flow: column nowrap;
  padding: 2rem;
  font-size: 4rem;
  position: relative;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-bottom: 3rem;
  text-align: center;
  border: 2px solid black;
} 

.input {
  border-color: blue; 
  margin-bottom: 1rem; 
}

.radio-btns {
  font-size: 2rem;
}

.square {
  height: 240px;
  width: 240px;
  background-color: black;
  opacity: 1;
  z-index: 1;
  position: absolute;
  left: 10px;
}