#map-container {
  display:flex;
  height: 100%;
  width: container;
  /* align-items: center; */
  justify-content: center;
  /* position: absolute; */
  
} 
#overlay {
  position: absolute;
  width: 720px;
  height: 720px;
  background-color: rgba(0,0,0,1);
  z-index: 1;
} 
#map {
  /* position: relative;  */
  width: 720px;
  height: 720px;

}