body {
  text-align: center;
  background-color: #F8DE7E;
  font-family: 'Press Start 2P', cursive;
  color: chartreuse;
  box-sizing: border-box;
}

h1 {
  color: black;
  padding-top: 10px;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

#whole-game-container {
  flex-wrap: nowrap;
  padding-top: 10px;
  align-items: center;
}

#main-game-container {
  flex-direction: column;
}

#map-main-container {
  width: 480px;
  height: 480px;
  margin: auto;
  position: relative;
  border: solid black 10px;
  border-radius: 10px;
  color: chartreuse;
  background-size: contain;
}

#ready {
  position: absolute;
  font-size: 2rem;
  display: none;
  z-index: 2;
}

.blink {
  animation: blinker 0.8s step-start infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

#answer {
  position: absolute;
  font-size: 1.5rem;
  z-index: 3;
  color: black;
  display: none;
  width: 400px;
}

#play-again {
  color: purple;
}

/* top bar styling */

#score-container {
  height: 30px;
  width: 450px;
  border: solid black 8px;
  border-bottom: 0px;
  border-radius: 6px;
  background: black;
  justify-content: space-between;
  padding: 0 10px 0;
}

.col-3 {
  width: 33%;
  text-align: center;
}

.col-3-left {
  width: 33%;
  text-align: left;
}

.col-3-right {
  width: 33%;
  text-align: right;
}

/* map and overlay */


#map {
  background: black;
  object-fit: contain;
}

.square {
  height: 160px;
  width: 160px;
  background-image: url('images/london-night.jpg');
  background-size: contain;
  opacity: 1;
  z-index: 1;
  position: absolute;
}

/* name and difficulty select */
#welcome-container {
  width: 100%;
  height: 100%;
  flex-direction: column;
  background: black;
  font-size: 2rem;
} 

.input {
  font-size: 1rem;
  padding: 15px;
  margin-top: 20px;
  font-family: 'Press Start 2P', cursive;
  border: none;
  background: #253529;
  color: chartreuse;
}

.input:focus {
    outline: none;
    border: 3px solid chartreuse;
    border-radius: 6px;
}

#difficulty-container {
  padding-top: 20px;
}

.difficulty {
  cursor: pointer;
  margin-top: 30px;
}

.hvr-bounce-in {
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
.hvr-bounce-in:hover, .hvr-bounce-in:focus, .hvr-bounce-in:active {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
  -webkit-transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
  transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
}

/* guessing box */

#guess-container {
  height: 480px;
  width: 320px;
  min-width: 280px;
  background: black;
  border-radius: 10px;
  margin-left: 30px;
  padding: 8px;
  box-sizing: border-box;
  margin-top: 40px;
}

#guess-container table {
  width: 100%;
  padding: 15px;
}

#guess-container td {
  padding-bottom: 13px;
}

#score-table td {
  padding-bottom: 15px;
}

.guess {
  cursor: pointer;
  font-size: 0.8rem;
}

@media only screen and (orientation:portrait){

  #whole-game-container {
   height: 100vw;
   -webkit-transform: rotate(90deg);
   -moz-transform: rotate(90deg);
   -o-transform: rotate(90deg);
   -ms-transform: rotate(90deg);
   transform: rotate(90deg);
   }
}

@media only screen and (max-height: 600px) {

  h1 {
    display: none;
  }

  h3 {
    margin-top: 12px;
    margin-bottom: 5px;
    font-size: 1rem;
  }

  #whole-game-container {
    padding-top: 5px;
  }

  #map-main-container {
    height: 300px;
    width: 300px;
    float: none;
  }

  #map-container {
    object-fit: contain;
    height: 300px;
    width: 300px;
    position: absolute;
  }

  #map {
    height: 100%;
    width: 100%;
    position: relative;
    background: black;
  }

  .square {
    height: 100px;
    width: 100px;
  }

  #answer {
    width: 150px;
  }

  #welcome-container {
    font-size: 1.5rem;
    z-index: 1;
    position: relative;
  }

  #score-container {
    width: 270px;
    height: 20px;
    font-size: 0.8em;
  }

  .difficulty {
    margin-top: 20px;
  }

  #guess-container {
    height: 330px;
    width: 180px;
    background: black;
    border-radius: 10px;
    margin-left: 25px;
    padding: 6px;
    box-sizing: border-box;
    margin-top: 0px;
  }

  #guess-container table {
    width: 100%;
    padding: 10px;
  }

  #guess-table td {
    padding-bottom: 7px;
    font-size: 0.7rem;
  }

  #score-table td {
    padding-bottom: 8px;
    font-size: 0.8rem;
  }

}
